[Unit]
Description=Autobuild for %I

[Service]
Type=oneshot
WorkingDirectory=/root/os-dib
ExecStartPre=/root/os-dib/build.sh %i
ExecStart=/root/os-dib/deploy.sh %i
